# .gitignore

# VS Code files 
.vscode/

# build files 
build
*.code-workspace

# Other files and folder 
.DS_Store
unit_tests/devices/.DS_Store

# File copies 
.include_path/

#==================================================
# unit_tests folder 

unit_tests/.DS_Store
unit_tests/*.swp
unit_tests/*.*~
unit_tests/.*~
unit_tests/*.d
unit_tests/*.o
unit_tests/*.a
unit_tests/.settings
unit_tests/*doxygen*
unit_tests/*.gcov
unit_tests/*.gcno
unit_tests/*.gcda
unit_tests/*_tests
unit_tests/*_cslim
unit_tests/*a.out
unit_tests/*.zip
unit_tests/tmp
unit_tests/pdfs
unit_tests/*.map
unit_tests/gcov
unit_tests/objs
unit_tests/lib
unit_tests/*_tests.txt
unit_tests/gcov*.html
unit_tests/ErrorLogs
unit_tests/testResults
unit_tests/.metadata
unit_tests/Debug
unit_tests/*/Debug/*
unit_tests/*.exe
unit_tests/*.obj
unit_tests/*.ncb
unit_tests/*.opt
unit_tests/*.plg
unit_tests/*.idb
unit_tests/*.pdb
unit_tests/*.sou
unit_tests/*.sdf
unit_tests/*.lib
unit_tests/*.log
unit_tests/*.tlog
unit_tests/*.cache
unit_tests/*.user
unit_tests/*.sublime-*
unit_tests/test-lib
unit_tests/test-obj
unit_tests/sources

unit_tests/fatfs/test-lib
unit_tests/fatfs/test-obj
unit_tests/fatfs/sources
unit_tests/fatfs/your_tests
unit_tests/fatfs/*.exe
unit_tests/fatfs/*.exe.stackdump

unit_tests/stm32f4/devices/test-lib
unit_tests/stm32f4/devices/test-obj
unit_tests/stm32f4/devices/sources
unit_tests/stm32f4/devices/your_tests
unit_tests/stm32f4/devices/*.exe
unit_tests/stm32f4/devices/*.exe.stackdump

unit_tests/stm32f4/peripherals/test-lib
unit_tests/stm32f4/peripherals/test-obj
unit_tests/stm32f4/peripherals/sources
unit_tests/stm32f4/peripherals/your_tests
unit_tests/stm32f4/peripherals/*.exe
unit_tests/stm32f4/peripherals/*.exe.stackdump

unit_tests/tools/test-lib
unit_tests/tools/test-obj
unit_tests/tools/sources
unit_tests/tools/your_tests
unit_tests/tools/*.exe
unit_tests/tools/*.exe.stackdump

#==================================================
